

article {
	margin: 0;
}

details {
  border-bottom: none;
  margin-bottom: 0;
}

.container > nav ul input {
  margin: 8px 0;
}

ul.tabs {
  display: flex;
}

ul.tabs li {
  list-style: none;
  margin-right: 8px;
}

ul.tabs li a {
  text-decoration: none;
}

ul.links li {
  color: var(--contrast);
  cursor: pointer;
}

ul.links li.active {
  color: var(--primary) !important;
}

ul.links li.error {
  color: #DC2626;
  background: transparent;
}

ul.tabs li:last-child {
  margin-right: 0;
}

article header {
  display: flex;
  padding-bottom: 0;
  justify-content: space-between;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

summary  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warning {
  background-color: rgb(251 191 36);
  border-color: rgb(251 191 36);
}

.success {
  background-color: rgb(22 163 74);
  border-color: rgb(22 163 74);
}

.error {
  background-color: rgb(220 38 38);
  border-color: rgb(220 38 38);
}

.danger {
  background-color: rgb(220 38 38);
  border-color: rgb(220 38 38);
}

span.outlined {
  padding: 4px; 
  border-radius: 4px;
  background: rgba(0,0,0,.4);
}

.mini-button {
  cursor: pointer; 
  display: inline;
}

.mini-button:hover {
  color: var(--primary);
}

.relative {
  position: relative;
}

.relative .floating-right {
  position: absolute;
  top: -30px;
  right: 0px;
}

